.search{
    width: 500px;
    height: 5px;
    background-color: rgba(169, 169, 169, 0.281);
    color: black;
    border-radius: 10px;
}
.ic{
    width: 30px;
    height: 25px;
    
}
.searchInput_Container{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 30px;
}
.event{
    display: flex;
}